@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir="rtl"] body {
  font-family: var(--font-arabic);
}

html[dir="rtl"] {
  --font-display: var(--font-display-arabic);
}

:root {
  --header-h: 5.5rem;
}

body {
  font-family: var(--font-sans);
}
